$color-coal: #1a1a1a;
$color-carbon: #272727;
$color-graphite: #363636;
$color-ash: #555;
$color-smoke: #C0C0C0;
$color-white: #fff;
$color-orange: #ED6A12;
$color-peach: #F6AC6F;
$color-cherry: #C33546;
$color-curry: #F5A323;
$color-green: #00BAA7;
